$base-line:20px;//Base line height for vertical rhythm
$base-vertical-line:$base-line;
$base-font-size:15px;
$base-radius:10px;//Basic border-radius

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|PT+Sans+Narrow:400,600&subset=cyrillic");
$base-font:'Open Sans', sans-serif;
$header-font:"PT Sans Narrow", sans-serif;
$primary-color:'indigo';
$header-color:text("dark-secondary");
$link-color:'indigo';
$li-char:'\2022';
$li-char-color:text('dark-hint');
