.jGrowl {
	z-index: 9999;
	color: text("dark-primary");
	font-size: $base-font-size;
	position: fixed;

	&.top-left {
		left: $base-line;
		top: $base-line;
	}

	&.top-right {
		right: $base-line;
		top: $base-line;
	}

	&.bottom-left {
		left: $base-line;
		bottom: $base-line;
	}

	&.bottom-right {
		right: $base-line;
		bottom: $base-line;
	}

	&.center {
		top: $base-line;
		width: 50%;
		left: 25%;

		.jGrowl-closer,
		.jGrowl-notification {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
@mixin notification() {
	background-color: palette("blue-grey","50");
	opacity: 0.9;
	zoom: 1;
	width: 320px - ($base-line*2);
	@extend .trailer;
	text-align: left;
	display: none;
	border-radius: $base-radius;



}

.jGrowl-notification {
	@include notification();
	box-shadow: 0px 0px $base-line $base-line/2 text("dark-divider");
	min-height: $base-line;
	box-sizing: border-box;
color:text("dark-secondary");
	.jGrowl-header {
		font-weight: bold;
		border-top-left-radius: $base-radius;
		border-top-right-radius: $base-radius;
		background: palette("blue-grey","500");
		color:text("light-primary");
		padding:0 $base-line;
	}

	.jGrowl-close {
		background-color: text("light-primary");
		color:text("dark-primary");
		border:1px solid text("dark-divider");
		color: inherit;
		border: none;
		z-index: 99;
		float: right;
		font-weight: bold;
		font-size:1.2em;
		width:$base-line;
		height:$base-line;
		cursor: pointer;
		border-radius: $base-line;
		margin:(0-$base-line/2) (0-$base-line/2) 0 0;
		padding:0;

	}

	.jGrowl-message{
			padding:$base-line;
	}

	@each $name,$color in $palette{
		&.#{$name}ed{
			background:map-get($color,"50");

			.jGrowl-header{
				background:map-get($color,"500");
			}

		}
	}

}

.jGrowl-closer {
	@include notification();
	cursor: pointer;
	@include adjust-font-size(.7em);
	font-weight: bold;
	text-align: center;
}
/** Hide jGrowl when printing **/
@media print {
	.jGrowl {
		display: none;
	}
}
