$columns: 12;
$gutter: $base-vertical-line/2;

.col {
    float: left;
    width: 100%;
}

.row {
    @include clearfix();

    &:not(.raw) {
        margin-left: -#{ceil($gutter)};
        margin-right: -#{ceil($gutter)};
    }

    &.reversed {
        & > .col {
            float: right;
        }
    }
    $previous: 0;
    @each $device,$width in $devices {
         @include media-more-than($width){
            @for $i from 1 through $columns {
                .col.#{$device}-#{$i} {
                    width: (100%/$columns)*$i;
                }
            }

            &:not(.raw) {
                @for $i from 1 through $columns {
                    .col.#{$device}-#{$i} {
                        padding-left: ceil($gutter);
                        padding-right: ceil($gutter);
                    }
                }
            }
            @for $i from 1 through $columns {
                .col.offset-#{$device}-#{$i} {
                    margin-left: (100%/$columns)*$i;
                }
            }
        }

        &.#{$device}-reversed {
            @include media-between($previous,$width) {
                .col {
                    float: right;
                }
            }
            @for $i from 1 through $columns {
                .col.offset-#{$device}-#{$i} {
                    margin-right: (100%/$columns)*$i;
                }
            }
        }
        $previous: $width;
    }
}
