.container {
    box-sizing: border-box;
    padding-left: $base-vertical-line;
    padding-right: $base-vertical-line;
    @include clearfix();
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include media-more-than($base-vertical-line*30) {
        &.text {
            width: $base-vertical-line*28;
        }
    }
}

.segment {
    padding: ceil($base-vertical-line/2) ceil($base-vertical-line/2) floor($base-vertical-line/2) floor($base-vertical-line/2);
}

.double-padded {
    padding: $base-vertical-line;
}
