ul.menu {
    li {
        list-style-type: none;

        &:not(.fa-li)::before {
            content: "";
        }
    }

    a,
    span {
        text-decoration: none;
        padding: ceil($base-line/2) ceil($base-vertical-line/2) floor($base-line/2) floor($base-vertical-line/2);
        display: block;
    }

    a:hover {
        text-decoration: underline;
    }

    li.active a {
        text-decoration: underline;
    }

    &:not(.crumbs),
    &.dark {
        &,
        a {
            color: text('dark-primary');
        }

        a:hover,
        li.active,
        li.active > a {
          background: text('dark-divider');
        }
    }

    &.crumbs,
    &.inverted{
        &,
        a {
            color: text('dark-secondary');
        }

        a:hover,
        li.active,
        li.active > a {
          color: text('dark-primary');
        }
    }

    &.light {
        &,
        a {
            color: text('light-primary');
        }

        a:hover,
        li.active,
        li.active > a {
            background: text('light-divider');
        }
    }
    @each $name,$color in $palette {
        &.#{$name} {
            &,
            a {
                color: map-get($color,"400");
            }

            a:hover,
            li.active,
            li.active > a {
                color: map-get($color,"A400");
            }
        }
    }



    &.crumbs,
    &.horizontal {
        @include clearfix;
        margin-left: - ceil($base-vertical-line/2);
        margin-right: - floor($base-vertical-line/2);

        & > li {
            float: left;
            padding: ceil($base-line/2) ceil($base-vertical-line/2) floor($base-line/2) floor($base-vertical-line/2);
        }

        &.divided {
            li+li {
                border-left: 1px solid text('dark-divider');
            }

            &.light li+li {
                border-left: 1px solid text('light-divider');
            }
        }
    }
    &:not(.horizontal){
      li.dropdown{
        &>a,&>span{
          position: relative;
          padding-right:$base-line;
          margin-right:-$base-line*0.5;
          &:after{
            content:$fa-var-angle-right;
            right:$base-line*0.5;
            font-size:$base-line;
            top:50%;
          margin-top: -$base-line*0.5;
          }
        }
        &>ul{
          transform:scaleX(0.01);
          &.shown{
            transform:scaleX(1);
          }
        }

      }
      &.divided {
           li+li {
              border-top: 1px solid text('dark-divider');
          }

          &.light  li+li {
              border-top: 1px solid text('light-divider');
          }
      }
    }

    &.decorated {
        & > li {
            position: relative;
            padding: 0;

            & > a,
            & > span {
                display: block;
                text-decoration: none;
                padding: ceil($base-line/2) ceil($base-vertical-line/2) floor($base-line/2) floor($base-vertical-line/2);
                //transition: none;
            }
        }

        & > li:after {
            content: "";
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 3px;
            display: block;
            transform: scaleY(0.01);
            transition: transform 300ms;
        }

        &.left > li:after {
            right: auto;
            left: 0;
        }

        & > li.active,
        & > li:hover {
            &:after {
                transform: scaleY(1);
                transition: transform 500ms;
            }
        }

        &.text-left {
            & > li.active,
            & > li:hover {
                &:after {
                    right: auto;
                    left: 0;
                }
            }
        }

        &.horizontal {
            &.centered {
                display: inline-flex;
                align-items: center;
                white-space: nowrap;
            }

            & > li:after {
                content: "";
                left: 0;
                right: 0;
                top: auto;
                height: 3px;
                bottom: 0;
                width: 100%;
                transform: scaleX(0.01);
                transition: transform 300ms;
            }

            & > li.active,
            & > li:hover {
                &:after {
                    transform: scaleX(1);
                    transition: transform 500ms;
                }
            }
        }

        &,
        &.dark {
            & > li.active,
            & > li:hover {
                &:after {
                    background-color: text('dark-secondary');
                }
            }
        }

        &.light {
            & > li.active,
            & > li:hover {
                &:after {
                    background-color: text('light-secondary');
                }
            }
        }
        @each $name,$color in $palette {
            &.#{$name} {
                & > li.active,
                & > li:hover {
                    &:after {
                        background-color: map-get($color,"500");
                    }
                }
            }
        }
    }

    &.crumbs {
        a,
        span {
            padding: 0;
        }

        li+li {
            position: relative;

            &:before {
                content: $fa-var-angle-right;
                font-family: "FontAwesome";
                position: absolute;
                left: 0;
                top: $base-line/2;
            }
        }
    }

    &  li.dropdown {
        position: relative;
        padding-right: $base-vertical-line/2;

        & > a:after {
            content: $fa-var-angle-down;
            font-family: "FontAwesome";
            position: absolute;
            right: 0;
            top: $base-line/2;
        }

        & > ul {
        top:0;
            position: absolute;
            z-index: 2;
            z-index: 3;
            transition: 500ms;
            transform: scaleY(0.001);
            opacity: 0;
            background: text('dark-primary');
            border: 1px solid text('light-divider');
            border-top: none;

            li {
                padding-left: 0;
                a{
                  transition: none;
                }
            }

            &.shown {
                opacity: 1;
                transition: 500ms;
                transform: scaleY(1);
            }
        }
    }

    &.dark  li.dropdown {
        & > ul {
            background: text('light-primary');
            border: 1px solid text('dark-divider');
        }
    }
}
