.leader {
    margin-top: $base-line;
}

.trailer {
    margin-bottom: $base-line;
}

.rhythm {
    @extend .leader;
    @extend .trailer;
}

.double.leader {
    margin-top: $base-line*2;
}

.double.trailer {
    margin-bottom: $base-line*2;
}

.double.rhythm {
    margin-top: $base-line*2;
    margin-bottom: $base-line*2;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

ol,
ul {
    &.relaxed {
        li {
            @extend .trailer;
        }
    }
}

.padded-top {
    padding-top: $base-line;
}

.padded-bottom {
    padding-bottom: $base-line;
}

.padded {
    @extend .padded-top;
    @extend .padded-bottom;
}

a {
    color: palette($link-color,'500');
    transition: 300ms;

    &:hover {
        color: palette($link-color,'900');
        opacity: 1;
    }
}

body .bold {
    font-weight: bold;
}

.big {
    font-size: $base-line;
    line-height: $base-line;
}

.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0 $base-line - $base-font-size;
    line-height: $base-line*2;
    border-radius: $base-radius;

    &.small {
        padding: 0 ($base-line - $base-font-size)/2;
        line-height: $base-line;
        border-radius: $base-radius/2;
    }

    &.big {
        padding: $base-line;
        border-radius: $base-radius*2;
    }


}

.divider,
hr {
    width: 100%;
    height: 0;
    border-bottom: 1px solid text("dark-divider");
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    color: $header-color;
}

mark {
    background-color: palette($primary-color,'50');
}


table {
    word-break: break-all;
}
